@use "../abstract/variable" as var;
@use "../abstract/functions" as func;

/* Custom Popover Styling */
.popover {
    max-width: 450px; /* Adjust width */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border:none;
    background:rgb(255, 171, 141)!important;
    height:auto;
}
.popover-header-content {
    font-weight:600;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size:0.88rem!important;
    font-family:var.$font-open!important;
    color:func.theme-colors('primary')!important;
    background:none!important;
}

.popover-body-content {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.popover-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px; /* Space between image-text and description */
}
.popover-img {
    width: 90%;
    border-radius: 8px;
    margin-bottom: 10px!important;
}

.popover h6 {
    font-weight:550!important;
    font-size:0.65rem!important;
    font-family:var.$font-open!important;
    color:func.theme-colors('blue')!important;
}

.popover-description p {
    font-size:0.8rem;
    font-weight:600;
    line-height:1.7!important;
    font-family:var.$font-open!important;
    text-align:start;
    color:func.theme-colors('white')!important;
    // margin-top:15px;
}

/*media queries*/
@media screen and (max-width:575.98px){
    .popover-body-content {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .popover {
        max-width: 290px; /* Adjust width */
        margin:0px auto!important;
    }
    .popover-img {
        width:75%!important;
        margin-bottom:8px;
    }
    .popover p {
        font-size:0.75rem!important;
        line-height:1.6;
        text-align:center!important
    }
}
@media screen  and (min-width:576px) and (max-width:767.98px){
    .popover-body-content {
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .popover {
        max-width: 450px; /* Adjust width */
        margin:0px -10px!important;
    }
    .popover h6{
        font-size: 0.63rem!important;
    }
    // .popover-image-text {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: start;
    //     justify-content:start;
    //     margin-bottom: 8px; /* Space between image-text and description */
    // }
    .popover-img {
        width:90%!important;
        margin-bottom:8px;
        height:auto!important;
    }
    .popover-description p {
        font-size:0.72rem!important;
        line-height:1.7;
        text-align:start!important
    }
}
@media screen  and (min-width:768px) and (max-width:991.98px){
    .popover-body-content {
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .popover {
        max-width: 465px; /* Adjust width */
        margin:0px -10px!important;
    }
    .popover-img {
        width:90%!important;
        // margin-bottom:8px;
    }
    .popover-description p {
        font-size:0.7rem!important;
        line-height:1.7;
        // margin-top:10px!important;
        text-align:start!important
    }
    .popover h6{
        font-size: 0.65rem!important;
    }
}